apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: my-cluster-kafka
  namespace: argocd
spec:
  project: default
  source:
    repoURL: git://<address>:9418/strimzi-gitops.git   # or GitHub URL
    path: apps/kafka-clusters
    targetRevision: master
  destination:
    server: https://kubernetes.default.svc
    namespace: kafka
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
